datasets==3.5.0
arrow==1.3.0
uri-template==1.3.0
rfc3339-validator==0.1.4
pexpect==4.9.0
Pygments==2.19.1
pandas==2.2.3
tomli==2.2.1
protobuf==5.29.4
fqdn==1.5.1
async-timeout==5.0.1
idna==3.10
babel==2.17.0
traitlets==5.14.3
nest-asyncio==1.6.0
ipython==8.34.0
ptyprocess==0.7.0
aiohttp==3.11.16
json5==0.11.0
prometheus_client==0.21.1
isoduration==20.11.0
pillow==11.1.0
pytz==2025.2
overrides==7.7.0
parso==0.8.4
webencodings==0.5.1
tinycss2==1.4.0
anyio==4.9.0
defusedxml==0.7.1
requests==2.32.3
frozenlist==1.5.0
attrs==25.3.0
async-lru==2.0.5
soupsieve==2.6
torchaudio==2.6.0
h11==0.14.0
GitPython==3.1.44
networkx==3.4.2
jedi==0.19.2
jupyterlab==4.3.6
rpds-py==0.24.0
tiktoken==0.9.0
jupyter_client==8.6.3
beautifulsoup4==4.13.3
asttokens==3.0.0
tqdm==4.67.1
urllib3==2.3.0
pandocfilters==1.5.1
fastjsonschema==2.21.1
exceptiongroup==1.2.2
click==8.1.8
typing-inspection==0.4.0
jsonpointer==3.0.0
tzdata==2025.2
appnope==0.1.4
multidict==6.2.0
jupyter_server==2.15.0
decorator==5.2.1
tokenizers==0.21.1
cffi==1.17.1
jsonschema==4.23.0
executing==2.2.0
nbformat==5.10.4
stack-data==0.6.3
argon2-cffi==23.1.0
debugpy==1.8.13
multiprocess==0.70.16
pydantic_core==2.33.0
jupyter_core==5.7.2
xxhash==3.5.0
nbconvert==7.16.6
pip==25.0
referencing==0.36.2
regex==2024.11.6
Send2Trash==1.8.3
fsspec==2024.12.0
jupyter-lsp==2.2.5
nbclient==0.10.2
gitdb==4.0.12
sniffio==1.3.1
psutil==7.0.0
jsonschema-specifications==2024.10.1
python-dateutil==2.9.0.post0
mpmath==1.3.0
jupyterlab_pygments==0.3.0
mistune==3.1.3
yarl==1.18.3
charset-normalizer==3.4.1
numpy==2.2.4
wcwidth==0.2.13
packaging==24.2
torch==2.6.0
setuptools==75.8.0
jupyter-events==0.12.0
certifi==2025.1.31
setproctitle==1.3.5
platformdirs==4.3.7
jupyterlab_server==2.27.3
webcolors==24.11.1
httpcore==1.0.7
pycparser==2.22
Jinja2==3.1.6
wheel==0.45.1
transformers==4.50.3
filelock==3.18.0
torchvision==0.21.0
pyarrow==19.0.1
dill==0.3.8
comm==0.2.2
pure_eval==0.2.3
tornado==6.4.2
docker-pycreds==0.4.0
rfc3986-validator==0.1.1
aiohappyeyeballs==2.6.1
python-json-logger==3.3.0
terminado==0.18.1
propcache==0.3.1
sympy==1.13.1
argon2-cffi-bindings==21.2.0
aiosignal==1.3.2
PyYAML==6.0.2
httpx==0.28.1
matplotlib-inline==0.1.7
smmap==5.0.2
safetensors==0.5.3
notebook==7.3.3
pyzmq==26.3.0
jupyter_server_terminals==0.5.3
typing_extensions==4.13.0
types-python-dateutil==2.9.0.20241206
bleach==6.2.0
prompt_toolkit==3.0.50
wandb==0.19.9
sentry-sdk==2.25.1
ipykernel==6.29.5
pydantic==2.11.1
annotated-types==0.7.0
six==1.17.0
huggingface-hub==0.30.1
notebook_shim==0.2.4
websocket-client==1.8.0
MarkupSafe==3.0.2
